*{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}

html{
    height:100%;
}
body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch9-aum-06_1.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=3b3f33a625c79449938bd4196767f3a9');
background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    
    
}
main{
   
    padding:2rem;
    border-radius:0.4rem; 
    background:linear-gradient(135deg, rgba(255,255,255,0.11),rgba(255,255,255,0));
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.18);
    box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.2);
    font-size: 18px;

}
.title{
    text-align: center;
    margin-bottom: 2rem;
}
label{
    font-weight: bold;
}
.amount{
    margin-bottom: 1.5rem;
}
.amount>input[type="number"]{
    width:100%;
    padding:0.7rem;
    margin-top: 0.5rem;
    outline:0;
    border-radius:35px;
    background-color:rgba(255,255,255,0.4);
    box-shadow:5px 15px rgba(0,0,0,0.05);
}
.converter{
   display: flex;
   justify-content: space-between;
   margin-top:1.3rem;
   
}
.converter p{
    margin-left:1.75rem;
}

.choosefrom>select,.chooseto>select{
    border:1px solid black;
    padding:0.7rem;
    margin-top: 0.2rem;
    border-radius:35px;
    background-color:rgb(255, 255, 255);
    border:1px solid rgba(255,255,255,0.5);
    box-shadow:5px 15px rgba(0,0,0,0.05);
    font-size: 16px;
}
.mid>i{
    margin-top:180%;
}
.result{
    margin-bottom:1.5rem;
    margin-top:1.3rem;
    
}
.result>input[type="text"]{
    width:100%;
    padding:0.7rem;
    margin-top:0.5rem;
    outline:0;
    border-radius:35px;
    background-color:rgba(255,255,255,0.4);
    box-shadow:5px 15px rgba(0,0,0,0.05);
}

.len .square{
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border:1px solid rgba(255,255,255,0.5);
  border-right:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.1);
  border-radius:10px;
  animation:animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
  
}
@keyframes animate{
    0%,100%{
        transform: translateY(-41px);
    }
    50%{
        transform: translateY(41px);
    }
}
.len .square:nth-child(5){
    top:-60px;
    left:65px;
    width:50px;
    height:50px;
  }
.len .square:nth-child(1){
  top:-50px;
  right:-60px;
  width:100px;
  height:100px;
}
.len .square:nth-child(2){
    top:150px;
    left:-108px;
    width:120px;
    height:120px;
    z-index:2;
  }
  .len .square:nth-child(3){
    bottom:50px;
    right:-70px;
    width:80px;
    height:80px;
    z-index:2;
  }
  .len .square:nth-child(4){
    bottom:16px;
    left:-20px;
    width:50px;
    height:50px;
  }
  .btn{
    border-radius:35px;
    padding:2px;
    margin-top: 1.2rem;
    width:7rem;

  }
  .btn:hover,.amount>input[type="number"]:hover,.result>input[type="text"]:hover{
      background-color: rgb(255, 255, 255);
  }
